<ng-template #loading>
    <mat-spinner class="mx-auto my-2" [diameter]="48"></mat-spinner>
</ng-template>

<ng-container *ngIf="blogPost$ | async as blogPost; else loading">

    <mat-toolbar color="primary" id="main-toolbar">
        <app-sidenav-toggle></app-sidenav-toggle>
        <h1>Edit Blog post</h1>
    </mat-toolbar>

    <form (submit)="save(blogPost)" #editForm=ngForm>

        <mat-card>
            <mat-card-content class="d-flex flex-column">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput type="text" name="title" [(ngModel)]="blogPost.title" [required]="true"/>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Slug</mat-label>
                    <input matInput type="text" name="slug" [(ngModel)]="blogPost.slug" [required]="true"/>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Content</mat-label>
                    <textarea
                            matInput
                            type="text"
                            name="content"
                            [(ngModel)]="blogPost.content"
                            [required]="true"
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                    ></textarea>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <button
                type="submit"
                mat-fab
                aria-label="Save"
                title="Save"
                [disabled]="submitting || editForm.invalid"
                color="primary">
            <mat-icon>save</mat-icon>
        </button>

    </form>

</ng-container>
