<mat-toolbar color="primary" id="main-toolbar">
    <app-sidenav-toggle></app-sidenav-toggle>
    <h1>Blog Posts</h1>
</mat-toolbar>

<ng-template #loading>
    <mat-spinner class="mx-auto my-2" [diameter]="48"></mat-spinner>
</ng-template>

<ng-container *ngIf="blogPosts$ | async as blogPosts; else loading">
    <mat-card *ngFor="let blogPost of blogPosts" class="mb-2">
        <mat-card-title>{{blogPost.title}}</mat-card-title>
        <mat-card-subtitle>{{blogPost.author.firstName}} {{blogPost.author.lastName}}
            / {{blogPost.created|date:'medium'}}</mat-card-subtitle>
        <mat-card-actions>
            <a mat-button [routerLink]="['/blog-posts', blogPost.slug]">Read</a>
        </mat-card-actions>
    </mat-card>
</ng-container>

<!--<a mat-fab aria-label="Create" title="Create" color="accent" [routerLink]="">-->
<!--    <mat-icon>add</mat-icon>-->
<!--</a>-->
