@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
