@import 'bootstrap';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer {
    width: 300px;
}

.screen-large app-sidenav-toggle {
    display: none;
}