@import 'bootstrap';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer {
    width: 300px;
}

$app-toolbar-height: 56px;
$app-toolbar-height-lg: 64px;
$app-fab-height: 56px;
$app-fab-padding: 16px;
$app-fab-total-height: $app-fab-height + (2 * $app-fab-padding);

.mat-fab {
    position: fixed !important;
    right: 0;
    bottom: 0;
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
    z-index: 2;
}

.mat-drawer {
    width: 300px;
}

.mat-sidenav-content {

    padding-top: $app-toolbar-height;
    padding-bottom: $app-fab-total-height;
    min-height: calc(100vh - (#{$app-toolbar-height} + #{$app-fab-total-height}));

    .mat-toolbar {
        position: fixed;
        top: 0;
        z-index: 2;
    }
}

.screen-large {
    app-sidenav-toggle {
        display: none;
    }
}

@include media-breakpoint-up(sm, $grid-breakpoints) {
    .mat-sidenav-content {
        padding-top: $app-toolbar-height-lg;
        min-height: calc(100vh - (#{$app-toolbar-height-lg} + #{$app-fab-total-height}));
    }
}

.nl2br {
    white-space: pre-wrap;
}