<ng-template #userLoading>
    <mat-spinner class="mx-auto my-2" [diameter]="48"></mat-spinner>
</ng-template>

<ng-template #blogPostsLoading>
    <mat-spinner class="mx-auto my-2" [diameter]="48"></mat-spinner>
</ng-template>

<mat-toolbar color="primary" id="main-toolbar" *ngIf="user$ | async as user; else userLoading">
    <app-sidenav-toggle></app-sidenav-toggle>
    <h1>{{user.firstName}} {{user.lastName}}</h1>
</mat-toolbar>

<ng-container *ngIf="blogPosts$ | async as blogPosts; else blogPostsLoading">
    <mat-card *ngFor="let blogPost of blogPosts" class="mb-2">
        <mat-card-title>{{blogPost.title}}</mat-card-title>
        <mat-card-subtitle>{{blogPost.author.username}} / {{blogPost.created|date:'medium'}}</mat-card-subtitle>
        <mat-card-actions>
            <a mat-button [routerLink]="['/blog-posts', blogPost.slug]">Read</a>
        </mat-card-actions>
    </mat-card>
</ng-container>
