<mat-toolbar color="primary" id="main-toolbar">
    <app-sidenav-toggle></app-sidenav-toggle>
    <h1>Authors</h1>
</mat-toolbar>

<ng-template #loading>
    <mat-spinner class="mx-auto my-2" [diameter]="48"></mat-spinner>
</ng-template>

<ng-container *ngIf="users$ | async as users; else loading">
    <mat-card *ngFor="let user of users" class="mb-2">
        <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
        <mat-card-actions>
            <a mat-button [routerLink]="['/authors', user.username]">Show</a>
        </mat-card-actions>
    </mat-card>
</ng-container>
