<div class="page-header">
	<h3>Edit</h3>
</div>

<form class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-sm-2" for="content">Content</label>
		<div class="col-sm-10">
			<textarea ng-model="newsEntry.content" id="content" class="form-control" rows="10">{{newsEntry.content}}</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<button type="submit" class="btn btn-primary" ng-click="save()"><span class="glyphicon glyphicon-ok"></span> Save</button>
		</div>
	</div>
</form>