<div class="pull-right">
	<a href="#!/create" class="btn btn-default" ng-show="hasRole('ROLE_ADMIN')" title="Create"><span class="fa fa-plus"></span></a>
</div>
<div class="page-header">
	<h3>Blog Posts</h3>
</div>

<div ng-repeat="blogPost in blogPosts">
	<hr />
	<div class="pull-right">
		<a href="" ng-click="deletePost(blogPost)" class="btn btn-xs btn-default" ng-show="hasRole('ROLE_ADMIN')"
		   title="delete"><span class="fa fa-trash-o"></span></a>
		<a href="#!/edit/{{blogPost.id}}" class="btn btn-xs btn-default" ng-show="hasRole('ROLE_ADMIN')"
		   title="edit"><span class="fa fa-pencil"></span></a>
	</div>
	<h4>{{blogPost.date | date}}</h4>
	<p>{{blogPost.content}}</p>
</div>
<hr />
