<div class="pull-right">
	<a href="#!/create" class="btn btn-default" ng-show="hasRole('ROLE_ADMIN')" title="Create"><span class="fa fa-plus"></span></a>
</div>
<div class="page-header">
	<h3>News</h3>
</div>

<div ng-repeat="newsEntry in newsEntries">
	<hr />
	<div class="pull-right">
		<a href="" ng-click="deleteEntry(newsEntry)" class="btn btn-xs btn-default" ng-show="hasRole('ROLE_ADMIN')" title="delete"><span class="fa fa-trash-o"></span></a>
		<a href="#!/edit/{{newsEntry.id}}" class="btn btn-xs btn-default" ng-show="hasRole('ROLE_ADMIN')" title="edit"><span class="fa fa-pencil"></span></a>
	</div>
	<h4>{{newsEntry.date | date}}</h4>
	<p>{{newsEntry.content}}</p>
</div>
<hr />
