<mat-toolbar color="primary" id="main-toolbar">
    <app-sidenav-toggle></app-sidenav-toggle>
    <h1 *ngIf="!loading && null != user">{{user.username}}</h1>
</mat-toolbar>

<mat-spinner class="ml-auto mr-auto mt-auto" [diameter]="48" *ngIf="loading || blogPostsLoading"></mat-spinner>

<ng-container *ngIf="!blogPostsLoading">
    <mat-card *ngFor="let blogPost of blogPosts" class="m-full">
        <mat-card-title>{{blogPost.title}}</mat-card-title>
        <mat-card-subtitle>{{blogPost.author.username}} / {{blogPost.created|date:'medium'}}</mat-card-subtitle>
        <mat-card-actions>
            <a mat-button [routerLink]="['/blog-posts', blogPost.slug]">Read</a>
        </mat-card-actions>
    </mat-card>
</ng-container>
